
		
	<!-- HEADER -->
	<div class="fluid-container">
		<header class="site-header">
			<div class="navbar-default navbar-fixed-top">
				<div class="fluid-container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
						<i class="fa fa-bars"></i>
					</button>
					<a class="navbar-brand" href="/">Modest</a>
				</div>
				
                {{page.header}}
				</div>
			</div>
		</header> <!-- .site-header -->
	</div> <!-- .fluid-container -->

	<!-- WELCOME TEXT -->

{{page.main}}
	<!-- SERVICES -->
	<div class="fluid-container">
		<div class="section-services" id="services">
			<div class="row">
				
                {{page.services}}
			</div>
		</div>
	</div> 

	<!-- FUN FACTS -->
	
	{{page.facts_section}}
	<!-- PORTFOLIO -->
	 <div class="fluid-container" id="portfolio">
		<div class="row">
			<div class="col-md-12 text-left">
				<div class="section-header portfolio-header">
					<h3>Our Lovely Work</h3>
				</div>
			</div>
		</div>
		<div class="section-portfolio" >
			<div class="row portfolio-holder">
          {{page.portfolio}}
			</div>
		</div>
	</div> 

	<!-- CLIENTS -->
	<div class="fluid-container" id="clients">
		<div class="row">
			<div class="col-md-12 text-right">
				<div class="section-header clients-header">
					<h3>What Clients Say</h3>
				</div>
			</div>
		</div>
		<div class="section-clients">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="client-icon">
						<i class="i fa fa-quote-left"></i>
					</div>
					<ul class="client-slide">
						
                        {{page.client_section}}
					</ul>
				</div>
			</div>
		</div>
	</div> 

	

	<!-- FOOTER -->
	<div class="fluid-container">
		<footer class="site-footer">
			<a href="#" class="back-to-top">
				<i class="fa fa-angle-up"></i>
			</a>
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12 padding-left-0">
					<p class="copyright">Copyright &copy; 2084 Company Name</p>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12 padding-right-0">
					<ul class="social">
						<li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
						<li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
						<li><a href="#"><i class="fa fa-youtube"></i> Youtube</a></li>
					</ul>
				</div>
			</div>
		</footer>
	</div> 
	
	


 